
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  /* width: 1800px; */
}

header {
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  cursor: pointer;
}

footer {
  margin-top: 10px;
}
