.icn-airport-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  width: 1100px;
  /* overflow: hidden; */
}

.basic-info-wrapper {
  margin-top: 15px;
}

p {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #1864ab;
  /* text-align: center; */
}

img {
  margin: 0;
  width: 90%;
  height: 600px;
}

.explanation {
  margin: 0;
  font-size: 70%;
  margin-bottom: 10px;
  text-align: right;
}
