.searchform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a5d8ff;
  border-radius: 3px;
}

.searchtext-auto {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

#search-text {
  margin-left: 0.5rem;
  color: #1864ab;
}

.autoComplete{
  display: none;
}

.visible {
  border: 1px solid #4dabf7;
 width: 720px;
 min-height: 20px;
 max-height: 300px;
 position: absolute;
 overflow: visible;
 background-color: white;
 top: 29px;
 margin-left: 8px;
 overflow: auto;
}

.invisible {
  display: none;
}
.search-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  background: #e7f5ff;
  border-radius: 3px;
  color: #1864ab;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #1864ab;
}
.search-button:hover {
  background:  #1864ab;
  color: white;
  border: 1px solid #1864ab;
}

.selecttype {
  width: 80px;
  height: 30px;
  margin-left: 1rem;
}

.parkingchk {
  cursor: pointer;
}

label {
  margin: 0;
  margin-right: 0.5rem;
  text-align: center;
  color: #1864ab;
  font-weight: bold;
}
